/* Efek Tombol Interaktif Ngambang & Membal */
.btn-pop {
    background-color: #10b981; /* Hijau Emerald */
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-pop:hover {
    transform: translateY(-4px) scale(1.03);
    background-color: #059669; /* Hijau agak gelap pas di-hover */
    box-shadow: 0 10px 20px rgba(16, 185, 129, 0.3); /* Glow efek hijau */
}

.btn-pop:active {
    transform: translateY(1px) scale(0.97);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Kustomisasi Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f172a; /* Tetap gelap biar kontras */
}
::-webkit-scrollbar-thumb {
    background: #047857; /* Hijau tua untuk scrollbar default */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #10b981; /* Hijau terang pas scrollbar di-hover */
}
